* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    height: 100px;
    background-color: #DB8C33;
    display: grid;
    grid-template-columns: 100px 1fr;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }
  
  .right-section p {
    font-size: 16px;
    font-weight: 500;
    color: white;
  }
  
  .right-section i {
    font-size: 35px;
    color: white;
  }
  
  
  
  .middle-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .form {
    display: grid;
    row-gap: 25px;
    column-gap: 5px;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #E9E6E6;
    width: 70%;
    height: auto;
    position: relative;
    padding: 50px;
  }
  
  .item {
    padding: 0px 15px;
    border: none;
  } 
  
  .item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .item-2 {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  
  .item-3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .item-4 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  
  .item-5 {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  
  .item-6 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .item-7 {
    grid-column-start: 3;
    grid-column-end: 7;
  }
  
  .item-8 {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  
  .item input {
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    height: 40px;
  }
  
  .item label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #7D8077;
    margin-left: 6px;
  }
  
  .submit-button {
    background-color: #81CB80;
    font-size: 16px;
    font-weight: bold;
    border: none;
  }
  
  
  
  .service-head {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 50px;
    margin-left: 110px;
  }
  
  
  .service-section {
    margin-top: 130px;
    padding: 0 20px;
  }
  
  .flex-service-container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .item-box {
    background-color: #DB8C33;
    width: 300px;
    height: 250px;
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 30px 10px 10px 10px;
    color: white;
  }
  
  .coffee-head {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  
  .item-box img {
    max-width: 100px;
    height: auto;
  }
  
  .footer {
    margin-top: 100px;
    padding: 20px; 
    background-color: #D9D9D9;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
    background-color: #D9D9D9;
  }
  
  .footer-name {
    font-size: 18px;
    text-align: center; 
  }
  
  .footer-image {
    width: 70px;
    height: auto; 
  }
  
  /* @media (max-width: 650px) and (min-width: 426px) {
    .form {
      grid-template-columns: 1fr;
      width: 80%;
      padding: 35px;
    }
  
    .item {
      grid-column: span 1;
    }
  }  */
  
  @media (max-width: 900px) and (min-width: 600px) {
    .form {
      grid-template-columns: 1fr 1fr;
      width: 100%;
      padding: 5px;
    }
  
    .item {
      grid-column: span 1;
    }
  
    .submit-button {
      position: relative;
      top: 18px;
    }
    
  } 
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center; 
    }
  
    .footer-image {
      margin-top: 20px; 
      width: 60px;
    }
  }
  
  @media (max-width: 650px) and (min-width: 427px)  {
    .form {
      grid-template-columns: 1fr;
      width: 80%;
      padding: 20px;
    }
  
    .item {
      grid-column: span 1;
    }
  }
  
  @media (max-width: 426px) {
    .form {
      grid-template-columns: 1fr;
      width: 80%;
      padding: 20px;
    }
  
    .item {
      grid-column: span 1;
    }
  
    .submit-button {
      width: 100%;
    }
  
    .right-section p {
      display: none;
    }
    .i1 {
      position: absolute;
      top: 35px;
      right: 40px;
    }
    .service-head {
      margin-left: 15px;
    }
    .footer {
      padding: 10px; 
    }
  
    .footer-name {
      font-size: 16px; 
    }
  
    .footer-image {
      width: 50px;
    }
  }
  
  @media (min-width: 426px) {
    .i1 {
      display: none;
    }
  }
  
  @media (max-width: 400px) {
    .form {
      width: 100%;
      padding: 5px;
    }
  }