body {
  background-image: url('WhatsApp Image 2025-03-07 at 22.24.00_7466ccde.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 60px;
  width: 100%;
  background-color: rgb(197, 141, 150);
  border-radius: 7px;
}

.youtube {
  font-size: 50px;
  color: blanchedalmond;
  margin-left: 100px;
  margin-top: 7px;
}

.about {
  margin-top: 50px;
  font-weight: lighter;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 40px;

}

.main {
  color: white;
  width: 80%;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-left: 19.7%;
  margin-top: 10px;
  border-bottom-width: 0cap;

}

.chart {
  margin-top: 60px;
  font-weight: lighter;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 40px;
}

.p1,
.p2 {
  margin-left: 20px;
  margin-right: 40px;
}

.parentbox {
  width: 700px;
  height: 400px;
  border-style: solid;
  margin-left: 20px;
  margin-right: 40px;
  border-width: 1px;
  position: relative;
  border: none;


}

.course1 {
  height: 150px;
  width: 150px;
  background-color: rgb(123, 100, 223);
  display: inline-block;
  position: absolute;
  border-radius: 8px;


}

.course2 {
  height: 150px;
  width: 150px;
  background-color: rgb(237, 159, 172);
  position: relative;
  left: 100;
  top: 100;
  display: inline-block;
  border-radius: 8px;

}

.course3 {
  height: 150px;
  width: 150px;
  background-color: rgb(222, 150, 56);
  position: relative;
  left: 50;
  top: 200;
  display: inline-block;
  border-radius: 8px;
  z-index: 10;
}

.course4 {
  height: 150px;
  width: 150px;
  background-color: rgb(102, 179, 100);
  position: relative;
  top: 100;
  display: inline-block;
  border-radius: 8px;
  z-index: 6;
}

.course5 {
  height: 150px;
  width: 150px;
  background-color: rgb(154, 138, 226);
  position: relative;
  right: 50;
  display: inline-block;
  border-radius: 8px;
  z-index: 4;
}

span {
  margin-left: 40px;
  position: relative;
  top: 60px;

}

footer {
  height: 200px;
  background-color: rgb(197, 141, 150);
  margin-right: 2.8px;
  margin-left: 19.70%;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  position: relative;

}

.call {
  height: 50px;
  width: 50px;
  color: white;
  position: absolute;
  right: 30;
  bottom: 30;
}

.footer {
  font-size: x-large;
  position: absolute;
  left: 43%;
  color: white;
}

.leftside {
  width: 19%;
  height: 1295px;
  border-radius: 7px;
  border-style: solid;
  border-color: white;
  position: absolute;
  top: 10.5%;
  left: 0;
  margin-left: 12px;
  border-width: 0;
  background: rgba(251, 251, 251, 0.15);
}

button {
  background-color: rgb(197, 141, 150);
  display: block;
  border-style: solid;
  border-width: 0;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  margin-left: 12px;
  color: white;
  border-width: none;
  margin-top: 35px;
}